//Breakpoints
$breakpoints: (
    'xs': 480px,
    'sm': 600px,
    'med': 768px,
    'lrg': 1024px,
    'xl': 1200px
);

$modal-max-width: 800px;
$modal-color: rgba(19, 19, 19, .95);
$font-stack:  'Source Sans Pro', sans-serif; 