#modal-box {
    
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 100%;
    
    padding-top: 5%;
    left: 0;
    top: 0;
    overflow: auto;
    
    background-color: $modal-color;
}

.modal-img {
    @extend %modal-display;
    //display: block;
    @include border($width: 2px, $style: solid, $color-rgba: $modal-color, $radius: 2px);
}

.modal-figure {
   
    text-align: center;
    @extend %modal-display;
    @include padding($top: true, $top-amount: 50px, $bottom: true, $bottom-amount:10px);
    font-family: $font-stack;
    color: gray; 
}

#arrow_left {
    position: absolute;

    transform: scale(.35);
    bottom: 60%;
    left: 5%;

    @include mq('sm') {
        transform: scale(.45);
        bottom: 30%;
        left: 10%;
    }

    @include mq('med') {
        transform: scale(.7);
        bottom: 30%;
        left: 10%;
    }

    @include mq('lrg') {
        transform: scale(1);
        left: 100px;
        bottom: 50%;
    }

    @include mq('xl') {
        transform: scale(1.25);
    }

    @extend %modal-arrow-transition;
}

#arrow_right {
    
    position: absolute;
    transform: scale(.35);
    bottom: 60%;
    right: 5%;
    
    @include mq('sm') {
        transform: scale(.45);
        bottom: 30%;
        right: 10%;
    }

    @include mq('med') {
        transform: scale(.7);
        bottom: 30%;
        right: 10%;
    }

    @include mq('lrg') {
        transform: scale(1);
        right: 100px;
        bottom: 50%;
    }    
    
    @include mq('xl') {
        transform: scale(1.25);
    }

    @extend %modal-arrow-transition;
    
}
